<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weixin.manager.mapper.WxImgTextMapper">
	 <resultMap id="baseResultMap" type="weixin.manager.bean.WxImgText">
		<id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="thumb_media_id" property="thumb_media_id" jdbcType="VARCHAR" />
		<result column="thumb_media_url" property="thumb_media_url" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="show_cover_pic" property="show_cover_pic" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="content_source_url" property="content_source_url" jdbcType="VARCHAR" />
		<result column="article_order" property="article_order" jdbcType="INTEGER" />
		<result column="is_syn" property="is_syn" jdbcType="INTEGER" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="base_column_list">
		id,type,title,article_id,thumb_media_id,thumb_media_url,author,digest,show_cover_pic,content,content_source_url,article_order,is_syn,del_flag
	</sql>
	
	 <select id="selectByPrimaryKey" resultMap="baseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="base_column_list"/>
		from wx_img_text
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
 	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from wx_img_text
		where article_id = #{id,jdbcType=VARCHAR}
	</delete>
	
	
	<insert id="insert" parameterType="weixin.manager.bean.WxImgText">
	</insert>
	
	<insert id="insertSelective" parameterType="weixin.manager.bean.WxImgText" >
		<selectKey keyProperty="id" resultType="Object"
			order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		
		insert into wx_img_text
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="article_id != null">
				article_id,
			</if>
			<if test="parent_id != null">
				parent_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="thumb_media_id != null">
				thumb_media_id,
			</if>
			<if test="thumb_media_url != null">
				thumb_media_url,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="digest != null">
				digest,
			</if>
			<if test="show_cover_pic != null">
				show_cover_pic,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="content_source_url != null">
				content_source_url,
			</if>
			<if test="article_order != null">
				article_order,
			</if>
			<if test="is_syn != null">
				is_syn,
			</if>
				create_time,
				update_time,
			<if test="delFlag != null">
				del_flag,
			</if>
				
		</trim>
		
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="article_id != null">
				#{article_id,jdbcType=VARCHAR},
			</if>
			<if test="parent_id != null">
				#{parent_id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_id != null">
				#{thumb_media_id,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_url != null">
				#{thumb_media_url,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="digest != null">
				#{digest,jdbcType=VARCHAR},
			</if>
			<if test="show_cover_pic != null">
				#{show_cover_pic,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="content_source_url != null">
				#{content_source_url,jdbcType=VARCHAR},
			</if>
			<if test="article_order != null">
				#{article_order,jdbcType=INTEGER},
			</if>
			<if test="is_syn != null">
				#{is_syn,jdbcType=INTEGER},
			</if>
				now(),
				now(),
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	<insert id="insertSelectiveBatch" parameterType="java.util.List">
			
			<!-- insert into wx_user_label 
			
			 (id,label_id,label_name,user_count,is_syn,create_time,update_time,del_flag)
			
			values
		  <foreach collection="list" item="item" index="index" separator="," >
		  
		  <trim prefix="" suffix="" suffixOverrides=",">
			  	(
						#{item.id,jdbcType=VARCHAR},
						#{item.labelId,jdbcType=VARCHAR},
						#{item.labelName,jdbcType=VARCHAR},
						#{item.userCount,jdbcType=INTEGER},
						#{item.isSyn,jdbcType=INTEGER},
					now(),
					now(),
					#{item.delFlag}
				)
		  </trim>
		  
          </foreach>   -->
	</insert>
	
	
	
	
	<update id="updateByPrimaryKeySelective" parameterType="weixin.manager.bean.WxImgText" >
		update wx_img_text
		<set>
			
			<if test="parent_id != null">
				parent_id=#{parent_id,jdbcType=VARCHAR},
			</if>
			<if test="article_id != null">
				article_id=#{article_id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type=#{type,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title=#{title,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_id != null">
				thumb_media_id=#{thumb_media_id,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_url != null">
				thumb_media_url=#{thumb_media_url,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author=#{author,jdbcType=VARCHAR},
			</if>
			<if test="digest != null">
				digest=#{digest,jdbcType=VARCHAR},
			</if>
			<if test="show_cover_pic != null">
				show_cover_pic=#{show_cover_pic,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content=#{content,jdbcType=VARCHAR},
			</if>
			<if test="content_source_url != null">
				content_source_url=#{content_source_url,jdbcType=VARCHAR},
			</if>
			<if test="article_order != null">
				article_order=#{article_order,jdbcType=INTEGER},
			</if>
			<if test="is_syn != null">
				is_syn=#{is_syn,jdbcType=INTEGER},
			</if>
			update_time=now(),
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
		</set>
		where article_id = #{article_id,jdbcType=VARCHAR}
	</update>
	
		<update id="updateImgTextById" parameterType="weixin.manager.bean.WxImgText" >
		update wx_img_text
		<set>
			
			<if test="parent_id != null">
				parent_id=#{parent_id,jdbcType=VARCHAR},
			</if>
			<if test="article_id != null">
				article_id=#{article_id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type=#{type,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title=#{title,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_id != null">
				thumb_media_id=#{thumb_media_id,jdbcType=VARCHAR},
			</if>
			<if test="thumb_media_url != null">
				thumb_media_url=#{thumb_media_url,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author=#{author,jdbcType=VARCHAR},
			</if>
			<if test="digest != null">
				digest=#{digest,jdbcType=VARCHAR},
			</if>
			<if test="show_cover_pic != null">
				show_cover_pic=#{show_cover_pic,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content=#{content,jdbcType=VARCHAR},
			</if>
			<if test="content_source_url != null">
				content_source_url=#{content_source_url,jdbcType=VARCHAR},
			</if>
			<if test="article_order != null">
				article_order=#{article_order,jdbcType=INTEGER},
			</if>
			<if test="is_syn != null">
				is_syn=#{is_syn,jdbcType=INTEGER},
			</if>
			update_time=now(),
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	
	<update id="updateByPrimaryKey" parameterType="weixin.manager.bean.WxImgText">
	</update>
	 
	
	<select id="selectByMap" resultMap="baseResultMap"
		parameterType="java.util.Map">
		select
		 <include refid="base_column_list"/>
		from wx_img_text
		where 1=1
		<if test="del_flag != null and del_flag!='-1' ">
				and del_flag = #{del_flag}
		</if>
		<if test="parent_id != null">
				and parent_id = #{parent_id}
		</if>
		<if test="type != null">
				and type = #{type}
		</if>
		
		ORDER BY article_order ASC
		
	 	 <if test="limit != null and offset != null" >
				limit #{offset}, #{limit}
		</if>
		
		 
		
	</select>
	
</mapper>
