@charset "utf-8";

.content {
	position: relative;
	z-index: 4;
}

.bg-img-singer {
	background: url(../image/bg-img-singer.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
/*.bg-img-singer{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	-webkit-filter: blur(20px);
	   -moz-filter: blur(20px);
	    -ms-filter: blur(20px);
            filter: blur(20px);
}*/
.bg_mask {
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.mask-header {
	height: .77rem;
	position: absolute;
}

.video-top {
	color: #d1cbc7;
	font-family: Helvetica;
	font-size: .11rem;
	height: .77rem;
	padding: 0 0 0 .16rem;
	position: relative;
}

.video-info {
	position: absolute;
	z-index: 5;
}

.video-header {
	color: #fff;
	font-size: .14rem;
	padding: .19rem 0 .11rem;
}

.ico {
	background: url(../image/ico-course-list.png) no-repeat top left/.12rem
		auto;
	display: inline-block;
	height: .12rem;
	margin: 0 .02rem -.01rem 0;
	width: .12rem;
}

.ico-clock {
	background-position: 0 -.12rem;
}

.gap-line {
	background: #d1cbc7;
	display: inline-block;
	height: .08rem;
	margin: 0 .09rem;
	width: 1px;
}

.video-list-header {
	color: #dadada;
	font-family: STHeiti;
	font-size: .11rem;
	height: .4rem;
	line-height: .4rem;
	padding: 0 0 0 .06rem;
}

.video-list-wrap {
	margin: -.1rem 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.video-list-li {
	background: url(../image/ico-arrow.png) no-repeat center right/.28rem
		.15rem;
	color: #d1cbc7;
	font-size: .11rem;
	height: .94rem;
}

.video-list-li a {
	color: #d1cbc7;
	display: block;
	font-family: Helvetica !important;
}

.video-list-li:after,.video-list-li::after {
	background: #fff;
	clear: both;
	content: "";
	display: block;
	height: 1px;
	opacity: 0.12;
}

.video-list-li img {
	border-radius: .03rem;
	float: left;
	height: .74rem;
	margin: .1rem;
	margin-left: .05rem;
	width: 1.14rem;
}

.video-list-li .video-header {
	padding: .15rem 0 .07rem;
}

.video-header p {
	font-size: .12rem !important;
	padding: .07rem 0 0;
}

.pop-download {
	font-size: .14rem;
	position: relative;
	width: 100%;
}

.bg-mask-pink {
	bottom: 0;
	background: #fff;
	height: .55rem;
	left: 0;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.pop-download-cont {
	bottom: 0;
	color: #2fb9c3;
	height: .55rem;
	position: fixed;
	width: 100%;
	z-index: 6;
}

.pop-download-cont p {
	padding: .1rem 0 0;
}

.pop-download-cont p span {
	display: block;
	font-size: .12rem;
	margin: .04rem 0 0;
}

.pop-download-cont img {
	border-radius: .03rem;
	float: left;
	height: .43rem;
	margin: .06rem .07rem;
	margin-right: .1rem;
	width: .43rem;
}

.btn-download {
	background: #2fb9c3;
	border-radius: .03rem;
	color: #fff;
	display: inline-block;
	float: right;
	font-family: STHeiti;
	font-size: .13rem;
	height: .33rem;
	line-height: .33rem;
	margin: .11rem .11rem 0 0;
	text-align: center;
	width: 1rem;
}
/* audio */
.player-wrap {
	overflow: hidden;
	position: relative;
}

.player-wrap img {
	margin-bottom: -5px;
}

audio {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}