<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weixin.server.mapper.WxMenuMapper">
	<resultMap id="BaseResultMap" type="weixin.manager.bean.BaseBean">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="WxMenuResultMap" type="weixin.server.entity.base.WxMenuEntity"
		extends="BaseResultMap">
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="media_id" property="media_id" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
	</resultMap>



	<sql id="Base_Column_List"> id,type,name,menu_key,url,media_id,level,parent_id,del_flag </sql>
	<select id="selectByPrimaryKey" resultMap="WxMenuResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from wx_menu where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		wx_menu where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="weixin.server.entity.base.WxMenuEntity">
		insert into wx_menu
		(id, type,
		name,
		key,url,media_id,level,parent_id,create_time,update_time,del_flag)
		values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{key,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR}, #{media_id,jdbcType=VARCHAR},
		#{level,jdbcType=INTEGER}#{parent_id,jdbcType=VARCHAR},
		#{create_time,jdbcType=TIMESTAMP},
		#{update_time,jdbcType=TIMESTAMP},
		#{del_flag,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="weixin.server.entity.base.WxMenuEntity">
		insert into wx_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="type != null"> type, </if>
			<if test="name 
		!= null"> name, </if>
			<if test="key != null"> key, </if>
			<if test="url 
		!= null"> url, </if>
			<if test="media_id != null"> media_id, </if>
			<if test="create_time 
		!= null"> create_time, </if>
			<if test="update_time != null"> update_time,
			</if>
			<if test="del_flag != null"> del_flag, </if>
		</trim>
		<trim prefix="values 
		(" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=VARCHAR},
			</if>
			<if test="type != null"> #{type,jdbcType=INTEGER}, </if>
			<if test="name 
		!= null"> #{name,jdbcType=VARCHAR}, </if>
			<if test="key != null"> #{key,jdbcType=VARCHAR},
			</if>
			<if test="url != null"> #{url,jdbcType=VARCHAR}, </if>
			<if test="media_id 
		!= null"> #{media_id,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null"> #{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="update_time != null"> #{update_time,jdbcType=TIMESTAMP},
			</if>
			<if test="del_flag != null">
				#{del_flag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="weixin.server.entity.base.WxMenuEntity">
		update wx_menu
		<set>
			<if test="type != null"> type= #{type,jdbcType=INTEGER}, </if>
			<if test="name 
		!= null"> name=#{name,jdbcType=VARCHAR}, </if>
			<if test="key != null">
				key= #{key,jdbcType=VARCHAR},
			</if>
			<if test="url != null"> url=#{url,jdbcType=VARCHAR},
			</if>
			<if test="media_id != null"> media_id=
				#{media_id,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time=#{update_time,jdbcType=TIMESTAMP},
			</if>
			<if test="del_flag != null">
				del_flag=#{del_flag,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeyWithBLOBs" parameterType="weixin.server.entity.base.WxMenuEntity">
		update
		b_blog set title = #{title,jdbcType=VARCHAR}, des =
		#{des,jdbcType=VARCHAR},
		userId = #{userid,jdbcType=INTEGER}, context =
		#{context,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="weixin.server.entity.base.WxMenuEntity">
		update wx_menu set
		type= #{type,jdbcType=INTEGER},
		name=#{name,jdbcType=VARCHAR},
		key=
		#{key,jdbcType=VARCHAR}, url=#{url,jdbcType=VARCHAR}, media_id=
		#{media_id,jdbcType=VARCHAR},
		update_time=#{update_time,jdbcType=TIMESTAMP},
		del_flag=#{del_flag,jdbcType=INTEGER},
		where id =
		#{id,jdbcType=VARCHAR}
	</update>



	<!-- 自定义 -->
	<!-- <delete id="deleteByIdAndUserId"> delete from b_blog where id=#{id} 
		and userId=#{userid} </delete> <select id="getUserBlogDetails" resultType="blog.dto.output.BlogDetails"> 
		select id,title,des from b_blog where userId=#{userId} </select> -->


</mapper>